cluster_name           = "{{ vars['platform']['name'] }}"
environment            = "{{ vars['platform']['environment'] }}"
region                 = "{{ vars['platform']['provider']['region1'] }}"
role                   = "{{ vars['platform']['provider'][provider_name]['role']['arn'] }}"
ami_id                 = "{{ vars['img']['id'] }}"
vpc_id                 = "{{ vars['platform']['provider'][provider_name]['vpc']['id'] }}"
worker_instance_type   = "{{ vars['platform']['provider'][provider_name][provider_type]['worker']['instanceType'] }}"
master_instance_type   = "{{ vars['platform']['provider'][provider_name][provider_type]['master']['instanceType'] }}"
subnet_id1             = "{{ vars['platform']['provider'][provider_name]['vpc']['subnet']['id1'] }}"
subnet_id2             = "{{ vars['platform']['provider'][provider_name]['vpc']['subnet']['id2'] }}"
iam_policy             = "{{ vars['platform']['provider'][provider_name]['iam']['policy'] }}"
cidr_blocks            = ["{{ vars['platform']['provider'][provider_name]['vpc']['cidrBlock'] }}"]
worker_min_size        = "{{ vars['ins']['worker']['min'] }}"
worker_max_size        = "{{ vars['ins']['worker']['max'] }}"
worker_desired_size    = "{{ vars['ins']['worker']['min'] }}"
master_min_size        = "{{ vars['ins']['master']['min'] }}"
master_max_size        = "{{ vars['ins']['master']['max'] }}"
master_desired_size    = "{{ vars['ins']['master']['min'] }}"
access_key              = "{{ vars['platform']['provider']['auth']['id'] }}"
secret_key              = "{{ vars['platform']['provider']['auth']['key'] }}"
