# KLOPAC ORCHESTRATOR RESULTS

{% if instance_layer is defined %}
## INSTANCE LAYER
{% for item in instance_layer %}
    * {{ item.ip }}
        * OS Name: {{ item.os.name.value }} - [{{ item.os.name.match }}]
        * OS Version: {{ item.os.version.value }} - [{{ item.os.version.match }}]
{% endfor %}
{% endif %}

{% if engine_layer is defined %}
## ENGINE LAYER
{% for item in engine_layer %}
    * {{ item.name }}
        * Kubernetes Engine Type: {{ item.value }} - [{{ item.match }}]
{% endfor %}
{% endif %}